<a href="https://colab.research.google.com/github/tarekyehya/problem-solving/blob/main/problems%26solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**problem**
- Problem - 263A - Codeforces

In [1]:
for i in range(1,6):
    a = []
    a = list(map(int,input().split()))
    if sum(a) == 1 :
        for j in range(1,6):
            if a[j-1] == 1:
                output = abs(3 - i) + abs(3 - j)
        
print(output)

0 0 0 0 0
0 0 0 0 0
0 1 0 0 0
0 0 0 0 0
0 0 0 0 0
1

**accepted**



*   231A - Codeforces

In [5]:
output = 0
# take input
rows = int(input())
#rows = 3
for i in range(rows):
    a = []
    a = list(map(int,input().split()))
    if sum(a) > 1 :
        output = output + 1

print(output)

3
1 1 0
1 1 1
1 0 0
2

**accepted**



*   Problem - 791A - Codeforces

In [6]:
w1,w2 = map(int, input().split())


if w1 > w2 :
    print(0)
elif w1 == w2:
    print(1)
else:
    for i in range(1,10):
        w1 = 3 * w1
        w2 = 2 * w2
        if w1 > w2:
            print(i)
            break

4 7
2

**accepted**